# Application
APP_HOST=0.0.0.0
APP_PORT=8899
APP_CONFIG_DIR=./config
APP_API_KEY=
APP_CORS_ORIGINS=*

# Example model Oracle
MODEL_ORACLE_USER=readonly_user
MODEL_ORACLE_PASSWORD=change_me
MODEL_ORACLE_DSN=172.16.1.10:1521/ORCL

# Example realtime Oracle (optional)
RT_ORACLE_USER=readonly_user
RT_ORACLE_PASSWORD=change_me
RT_ORACLE_DSN=172.16.1.11:1521/RTDB
